<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blog</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
	</head>
	<body>
		<div class="login-area">
			{% if username %}
				<a class="login-link" href="/blog">blog </a>|
				<a class="login-link" href="/blog/newpost">post </a>|
				<a class="login-link" href="/blog/map">map </a>|
				<a class="login-link" href="/blog/logout">logout</a>
				<br>{{username}}
			{% else %}
				<a class="login-link" href="/blog/login">login</a>|
				<a class="login-link" href="/blog/signup">signup</a>
			{% endif %}
		</div>

		<h1>New Post</h1>
		<form method="post">
			<label>
				<div>subject</div>
				<input type="text" name="subject" value="{{ph_subject}}">
			</label>
			<label>
				<div>blog</div>
				<textarea name="content">{{ph_content}}</textarea>
			</label>
			<label>
				<input type="text" name="ip">
			</label>
			<div class="error">{{ph_error}}</div>
			<input type="submit">
		</form>
	</body>
</html>
