<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
	</head>
	<body>
		<div class="login-area">
			{% if username %}
				<a class="login-link" href="/blog">blog </a>|
				<a class="login-link" href="/blog/newpost">post </a>|
				<a class="login-link" href="/blog/map">map </a>|
				<a class="login-link" href="/blog/logout">logout</a>
				<br>{{username}}
			{% else %}
				<a class="login-link" href="/blog/login">login</a>|
				<a class="login-link" href="/blog/signup">signup</a>
			{% endif %}
		</div>
		<h1>Welcome, {{username}}!</h1>
		<img src="/images/success.jpg">
	</body>
</html>