<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>ASCII</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/ascii.css">
  </head>
  <body>
    <h1>ASCII Art</h1>
    <form method="post">
      <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
      </label>
      <label>
        <div>art</div>
        <textarea name="art">{{art}}</textarea>
      </label>
      <br>
      <p class="error">{{error}}</p>
      <input type="submit">
    </form>
    <!-- Python code embedded in HTML for Jinja2 -->
    {% for art in arts %}
       <div class="art">
       <div class="art-title">{{art.title}}</div>
       <pre class="art-body">{{art.art}}</pre>  
       </div>
    {% endfor %}

  </body>
</html>