div.child{
	float: left;
	width: 100px;
	height: 150px;
	background-color: #eeeff2;
	border-left: 10px dotted #D0D0FF;
	margin-right: 10px;
	cursor: pointer;
	padding-left: 10px;
	overflow: scroll;


}
div.child:hover {
	background-color:yellow;
	color:goldenrod;
}
#parent{
	width: 900px;
}

*{
	font-family: Tahoma;
	font-size: 40px;
}