
body, html {
    background-color: #f6f6f6;
}

#canvas{
	background-color: #fff4db;
	height:400px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 10px 10px 5px #8d8d8d
}


#box1{
	width:400px;
	height:290px;
}
#box2{
	width:400px;
	height:10px;
}
#box3{
	width:400px;
	height:100px;
}




#box1a{
	float:left;
	width:100px;
	height:290px;
}
#box1b{
	float:left;
	width:10px;
	height:290px;
}
#box1c{
	float:left;
	width:290px;
	height:290px;
}

#box1aa{
	width:100px;
	height:140px;
}
#box1ab{
	width:100px;
	height:10px;
}
#box1ac{
	width:100px;
	height:140px;
}


#box3a{
	float:left;
	width:100px;
	height:100px;
}
#box3b{
	float:left;
	width:10px;
	height:100px;
}
#box3c{
	float:left;
	width:260px;
	height:100px;
}
#box3d{
	float:left;
	width:10px;
	height:100px;
}
#box3e{
	float:left;
	width:20px;
	height:100px;
}

#box3ea{	
	width:20px;
	height:45px;
}
#box3eb{
	width:20px;
	height:10px;
}
#box3ec{
	width:20px;
	height:45px;
}


/*color classes. These are the CSS classes that will color in the blocks*/

.red {
    background-color: #cc3333;   
}

.blue {
    background-color: #2f7fd8;   
}

.yellow {
    background-color: #feda09;   
}

.black {
    background-color: #393939;   
}

